<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>وبلاگ ها</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blogs.css">
    <link rel="stylesheet" href="/css/dist/effects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.theme.min.csss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.transitions.min.csss">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/slick.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-light">
        <div>
            <a class="navbar-brand" href="/">
                <img src="/img/logo-black.svg" alt="">
            </a>
        </div>
        <div class="rightside-nav">
        <button type="button" class="solidBtn"> <a href="contactUs">برای مشاوره وقت بگیرید</a> </button>

        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">            <img src="/img/hamburger-black.svg" alt="">
            </div>
            <div class="menu">
              <div>
                <div>
                    <ul class="navMenu">
                        <li class="rd"><a href="about">درباره ما</a></li>
                        <li class="bl"><a href="#">خدمات</a></li>
                        <li class="yl"><a href="projects">پروژه ها</a></li>
                        <li class="wt"><a href="blogs">مقالات</a></li>
                        <li class="gr"><a href="contactUs">تماس باما</a></li>
                      </ul>
                </div>
              </div>
            </div>
        </div>
        </div>
    </nav>

    <section id="blogs">
        <div class="blogHeader">
            <h1>
                بلاگ ها
            </h1>
            <select name="blogTypes" id="blogTypes">
                <option value="bestblog">برترین بلاگ ها</option>
                <option value="newblog">جدیدترین بلاگ ها</option>
                <option value="mostvblog">بلاگ های پربازدید</option>
            </select>
        </div>


        <div class="blogCards">

            <div class="blogCard bC-black">
                <img src="/img/blogimg.svg" alt="">
                <div class="blogCard-content">
                    <h5>بازاریابی</h5>
                    <h3>پنج طرفند بازاریابی دیجیتال برای 
                        افزایش مقیاس فروش</h3>
                </div>

                <a href="#">مشاهده بیشتر</a>

            </div>

            <div class="blogCard bC-yellow">
                <img src="/img/blogimg.svg" alt="">
                <div class="blogCard-content">
                    <h5>بازاریابی</h5>
                    <h3>پنج طرفند بازاریابی دیجیتال برای 
                        افزایش مقیاس فروش</h3>
                </div>

                <a href="#">مشاهده بیشتر</a>

            </div>

            <div class="blogCard bC-yellow">
                <img src="/img/blogimg.svg" alt="">
                <div class="blogCard-content">
                    <h5>بازاریابی</h5>
                    <h3>پنج طرفند بازاریابی دیجیتال برای 
                        افزایش مقیاس فروش</h3>
                </div>

                <a href="#">مشاهده بیشتر</a>

            </div>

            <div class="blogCard bC-gray">
                <img src="/img/blogimg.svg" alt="">
                <div class="blogCard-content">
                    <h5>بازاریابی</h5>
                    <h3>پنج طرفند بازاریابی دیجیتال برای 
                        افزایش مقیاس فروش</h3>
                </div>

                <a href="#">مشاهده بیشتر</a>

            </div>


        </div>
        <a class="ViewMore" href="#"> مشاهده بیشتر </a>
    </section>





    <div class="supportUs ">
        <figure class="loadsprt">
           <a href="support">
               <img src="img/supportUs.svg" alt="">
           </a> 
        </figure>
    </div>

    
        <footer>
        <div class="newsletter">
            <h1>
                برای دریافت <span class="spancolorYellow">مشاوره های رایگان هفتگی</span> ما
                 درباره <span class="spancolorYellow">طراحی سایت و بازاریابی انلاین </span> ثبت نام کنید.
                 ما ایمیل بی مورد ارسال نمیکنیم.
                  تنها<span class="spancolorYellow"> نکات  کلیدی و مهم</span> رو به اشتراک میگذاریم.
            </h1>
            <form class="mt-4" method="POST" action="/newsFeed">
                <div class="newsletter-mail">
                    <input id="email" type="email" placeholder="ایمیل خود را وارد کنید" name="emailnewsfeed">
                    <input type="submit" value="همین حالا ثبت نام کن">
                </div>
                <div class="rules">
                    <p>
                        من <span class="spancolorYellow">قوانین و شرایط</span>
                        را می پذیرم
                    </p>
                    <input type="checkbox">
                </div>
            </form>
        </div>

        <div class="footer">
            <div class="footerBox">
                <h2>
                    درباره ما
                </h2>
                <hr>
                <p>
                    با تکیه بر خلاقیت و توانایی نیروهایمان راه حل های متفاوتی برای کسب و کارتان معرفی خواهیم کرد.
                </p>
            </div>
            <div class="footerBox">
                <h2>
                    تماس باما
                </h2>
                <hr>
                <div class="footer-address">
                    <div style="padding-left: 1rem;">
                        <h5 style="color: #f7b11d;">دفتر شماره یک</h5>
                        <p>ساری - خیابان پیروزی - نبش پیروزی ۱۴ -  پارک علم و فناوری</p>
                    </div>
                    <div>
                        <h5 style="color: #f7b11d;">دفتر شماره دو</h5>
                        <p>ساری-خیابان فرهنگ - روبروی تربیت بدنی استان - مجتمع تجاری شهر - طبقه دوم</p>
                    </div>
                </div>
            </div>
            <div class="footerBox thirdfb">
                <img src="/img/logo.svg" alt="" class="mb-4">
                <p>
                    011-33208264-6
                </p>
            </div>
        </div>
        <hr style="color: gray;">
        <div class="down-footer">
            <div class="footerrights">
                <span>
                    © 2021 devolutions Design. All rights reserved.
                </span>
            </div>
            <div class="social-container">
                <ul class="social-icons">
                    <li><a href="https://instagram.com/devolutions.ir"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                </ul>
            </div>
        </div>


    </footer>
</body>
<script src="/js/blogs.js"></script>

</html>