<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devolutions</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mockup.css">
    <link rel="stylesheet" href="/css/dist/effects.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <script defer src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>


</head>
<body>
    <nav class="navbar navbar-light">
        <div>
            <a class="navbar-brand" href="/">
                <img src="/img/logo.svg" alt="devolutions-logo">
            </a>
        </div>
        <div class="rightside-nav">
        <button type="button" class="solidBtn"> <a href="contactUs">برای مشاوره وقت بگیرید</a> </button>

        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"> <img src="/img/hamburger.svg" alt="">
            </div>
            <div class="menu">
              <div>
                <div>
                    <ul class="navMenu">
                        <li class="rd"><a href="about">درباره ما</a></li>
                        <li class="bl"><a href="#">خدمات</a></li>
                        <li class="yl"><a href="projects">پروژه ها</a></li>
                        <li class="wt"><a href="blogs">مقالات</a></li>
                        <li class="gr"><a href="contactUs">تماس باما</a></li>
                      </ul>
                </div>
              </div>
            </div>
        </div>
        </div>
    </nav>
    <header>
        <div class="headerbg">
            <div class="container">
                
                <div class="main-header">
                    <h1>طراحی <span>منحصر به فرد</span>
                        <br>
                        مسیر مناسب برای برند شما</h1>
                    <p> شما برای ادامه مسیر به یک متخصص نیازمندید</p>
                    <button class="grayBtn"><a href="contactUs">از یک متخصص کسب و کار مشاوره بگیرید</a></button>
    
                </div>
                <div class="clutch-wrap">
                    <img src="/img/Component 6 – 1.svg" alt="">
                    <p>ما توانستیم
                        <br>
                        مشاوره و توسعه ی بیش از 
                        صد برند و کسب و کار 
                        جدید.</p>
                </div>
            </div>
        </div>
        <div class="getdown">
            <a href="#mainContent">
                <img src="/img/viewdown.svg" alt="">
            </a>
        </div>
    </header>

    <section class="main-content" id="mainContent">
        <div class="container">
            <div class="first-content mb-4">
                <h1> <span class="spunderlineGray">میخواهید</span> 
                    <br>
                   <span class="spunderlineOrange"> سال جدید را</span>
                    <br>
                    <span class="spunderlineGray">قوی  شروع کنید؟</span> 
                </h1>

                <div class="first-left mb-4">
                    <h5> <span class="spancolorBlue"> امروزه زمانه تغییرات بسیاری کرده </span> 
                        و
                        کسب و کارها باید خود را با شرایط جدید وقف
                         دهند.متخصصین فروش ما به شما در  فروش کمک میکنند
                    </h5>
                    <button class="solidBtn"><a href="contactUs">از یک متخصص کسب و کار مشاوره بگیرید</a></button>
                </div>
            </div>

            <br id="mainContent">

            <div class="second-content">
                <div class="second-left mb-4">
                    <img src="/img/1stpic.svg" alt="">
                </div>
                <div class="second-right mb-4">
                    <h1 class="violetText">طراحی وب
                        و هویت برند</h1>
                    <h5> شما مشتری های شما را بهتر از هرکسی میشناسید.ما
                        میدانیم این شناخت را به مرحله ی سود اوری 
                       خواهیم رساند.ما کمک میکنیم تا شما هویت انلاین 
                       خود را به عنوان یک برند قدرتمند به نمایش بگذارید.
                    </h5>
                    <button class="orangeBtn">
                        <a href="contactUs">
                          منم همینو میخوام
                        </a>     
                    </button>

                </div>
            </div>
            <br>

            <div class="third-content">
                <div class="third-left">
                    <h1 class="blueText mb-4">بازاریابی
                        دیجیتال
                    </h1>
                    <h5> دادن یک نسخه واحد برای کسب و کارها کار غلطی است.
                        ما از مهارتها و قدرت خود در حوزه ی دیجیتال مارکتینگاستفاده خواهیم کرد تا به شما یک استراتژی برد ارایه دهیم.میخواهید بیزنس خود را گسترش دهید؟
                        مشتری ها و بازارهای بیشتری میخواهید؟ما میتوانیم در این رابطه به شما کمک کنیم.                        
                    </h5>
                    <button class="redBtn">
                        <a href="contactUs">
                        منم همینو میخوام
                        </a>
                    </button>
                </div>
                <div class="third-right mb-4">
                    <img src="/img/2ndpic.svg" alt="">
                </div>
            </div>
            <br>

            <div class="fourth-content">
                <div class="fourth-left mb-4">
                    <img src="/img/3rdpic.svg" alt="">
                </div>
                <div class="fourth-right mb-4">
                    <h1 class="orangeText">توسعه وبسایت
                        و اپلیکیشن
                    </h1>
                    <h5> ما نوع دیگری از یک شرکت طراحی وب هستیم. ما ما تیمی از توسعه دهندگان ، کارشناسان فنی و استراتژیست
                         های باسابقه را ارائه می دهیم.کسانی که سوالات درستی میپرسند تا شما را با قابلیت 
                        های مناسب درمسیر درستی قرار دهند و بستر مناسبی برای توسعه تجارت شما فراهم سازند.
             
                    </h5>
                    <button class="blueBtn">
                        <a href="contactUs">
                            منم همینو میخوام
                        </a>                    
                    </button>
                </div>
            </div>

        </div>
    </section>

    <div class="home-brands">
        <div class="left-hb">
            <h1>برندهایی که با ما کار کرده اند</h1>
            <button class="solidGray"><a href="projects">مشاهده لیست کامل</a></button>
        </div>
        <div class="right-hb">
            
        </div>
    </div>


    <section>

        <div class="mockup-Slider">

            <div class="css-mb with-glare">
            <div class="mb-display-position">
                <div class="mb-display">
                <div class="mb-screen-position">
                    <div class="mb-screen">
                    <section>
                        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active" data-bs-interval="10000">
                                <img src="/img/1stpic.svg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item" data-bs-interval="2000">
                                <img src="/img/2ndpic.svg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="/img/3rdpic.svg" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </section>
                    </div>
                </div>
                </div>
            </div>
            <div class="mb-body"></div>
            <div class="mb-bottom-cover"></div>
            </div>
            

            
        </div>
            

    
        <div class="whatwedo">
            <div class="container mb-6">
                <h1 class="mb-4"> <span class="spunderlineBlue"> ما </span> <span class="spunderlineYellow"> متفاوتیم</span>  </h1>
                <h3>راه حل های ما تکامل یافته 
                    و( خلاقانه تر) هستند</h3>
                <div class="wwd">
                    <div class="wwd-cards">
                        <img class="mb-4" src="/img/iconwd2.svg" alt="">
                        <h2 class="mb-4"> 
                            <span>ما</span> به خاطر نتایج پروژه هایمان  شناخته شده ایم
                        </h2>                        <p>ما نتایج موفقیت امیزی در گسترش کسب و کار و طراحی وبسایت داشته ایم.  و این به این خاطر است که ما کاری فراتر از طراحی وبسایت انجام میدهیم.  ما با شما در مسیرتان شریک شده تا بهترین وبسایتی که میتواند شما را به اهدافتان برساند طراحی کنیم .</p>
                    </div>
                    <div class="wwd-cards">
                        <img class="mb-4" src="/img/iconwd1.svg" alt="">
                        <h2 class="mb-4"> 
                            <span>ما</span> به خاطر نتایج پروژه هایمان  شناخته شده ایم
                        </h2>                        <p>ما نتایج موفقیت امیزی در گسترش کسب و کار و طراحی وبسایت داشته ایم.  و این به این خاطر است که ما کاری فراتر از طراحی وبسایت انجام میدهیم.  ما با شما در مسیرتان شریک شده تا بهترین وبسایتی که میتواند شما را به اهدافتان برساند طراحی کنیم .</p>
                    </div>
                    <div class="wwd-cards">
                        <img class="mb-4" src="/img/iconwd4.svg" alt="">
                        <h2 class="mb-4"> 
                            <span>ما</span> به خاطر نتایج پروژه هایمان  شناخته شده ایم
                        </h2>
                        <p>ما نتایج موفقیت امیزی در گسترش کسب و کار و طراحی وبسایت داشته ایم.  و این به این خاطر است که ما کاری فراتر از طراحی وبسایت انجام میدهیم.  ما با شما در مسیرتان شریک شده تا بهترین وبسایتی که میتواند شما را به اهدافتان برساند طراحی کنیم .</p>
                    </div>
                    <div class="wwd-cards">
                        <img class="mb-4" src="/img/iconwd3.svg" alt="">
                        <h2 class="mb-4"> 
                            <span>ما</span> به خاطر نتایج پروژه هایمان  شناخته شده ایم
                        </h2>                        <p>ما نتایج موفقیت امیزی در گسترش کسب و کار و طراحی وبسایت داشته ایم.  و این به این خاطر است که ما کاری فراتر از طراحی وبسایت انجام میدهیم.  ما با شما در مسیرتان شریک شده تا بهترین وبسایتی که میتواند شما را به اهدافتان برساند طراحی کنیم .</p>
                    </div>
                   
                </div>
            </div>
            <br>
            <button class="solidGray btn-4 mt-5"><a href="contactUs">توسعه را شروع کنید</a></button>

        </div>
    </section>

    <section>
        <div class="sodcialMedia">

            <div class="left-sm">
                <h2>در شبکه های اجتماعی ما ببینید</h2>
                <button class="yellowBtn"><a href="blogs"> اخبار و برنامه های ما را دنبال کنید</a></button>

                <div class="social-container">
                    <ul class="social-icons">
                        <li><a href="https://instagram.com/devolutions.ir"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="right-sm">
                <div class="rightSM-post">
                    <div class="rightSM-pcalendar">
                        <img src="/img/calendar.svg" alt="">
                        <span>28 آذر 1399 </span>
                    </div>
                    <hr>
                    <h1>
                        نام و تایتل پست در این قسمت و با این سایز
                    </h1>
                    <img class="pstimg" src="/img/Tarahi Agahi Tablighati.svg" alt="">

                </div>

                <div class="rightSM-post">
                    <div class="rightSM-pcalendar">
                        <img src="/img/calendar.svg" alt="">
                        <span>28 آذر 1399 </span>
                    </div>
                    <hr>
                    <h1>
                        نام و تایتل پست در این قسمت و با این سایز
                    </h1>
                    <img class="pstimg" src="/img/Tarahi Agahi Tablighati.svg" alt="">

                </div>
            </div>

        </div>

        
    </section>

    <section id="forgetwws">
        <div class="forgetwws pt-4">
            <h1 class="mb-4">هرچی تا الان
                گفتیم رو فراموش کنین</h1>
                <p> ما وبسایتهایی رو طراحی میکنیم که
                    نرخ تبدیل شما را بالاتر میبرند.</p>
            <button class="solidGray mt-4"> <a href="contactUs">با ما تماس بگیرید</a> </button>

        </div>
    </section>

    <div class="supportUs ">
        <figure class="loadsprt">
           <a href="support">
               <img src="img/supportUs.svg" alt="">
           </a> 
        </figure>
    </div>


        <footer>
        <div class="newsletter">
            <h1>
                برای دریافت <span class="spancolorYellow">مشاوره های رایگان هفتگی</span> ما
                 درباره <span class="spancolorYellow">طراحی سایت و بازاریابی انلاین </span> ثبت نام کنید.
                 ما ایمیل بی مورد ارسال نمیکنیم.
                  تنها<span class="spancolorYellow"> نکات  کلیدی و مهم</span> رو به اشتراک میگذاریم.
            </h1>
            <form class="mt-4" method="POST" action="/newsFeed">
                <div class="newsletter-mail">
                    <input id="email" type="email" placeholder="ایمیل خود را وارد کنید" name="emailnewsfeed">
                    <input type="submit" value="همین حالا ثبت نام کن">
                </div>
                <div class="rules">
                    <p>
                        من <span class="spancolorYellow">قوانین و شرایط</span>
                        را می پذیرم
                    </p>
                    <input type="checkbox">
                </div>
            </form>
        </div>

        <div class="footer">
            <div class="footerBox">
                <h2>
                    درباره ما
                </h2>
                <hr>
                <p>
                    با تکیه بر خلاقیت و توانایی نیروهایمان راه حل های متفاوتی برای کسب و کارتان معرفی خواهیم کرد.
                </p>
            </div>
            <div class="footerBox">
                <h2>
                    تماس باما
                </h2>
                <hr>
                <div class="footer-address">
                    <div style="padding-left: 1rem;">
                        <h5 style="color: #f7b11d;">دفتر شماره یک</h5>
                        <p>ساری - خیابان پیروزی - نبش پیروزی ۱۴ -  پارک علم و فناوری</p>
                    </div>
                    <div>
                        <h5 style="color: #f7b11d;">دفتر شماره دو</h5>
                        <p>ساری-خیابان فرهنگ - روبروی تربیت بدنی استان - مجتمع تجاری شهر - طبقه دوم</p>
                    </div>
                </div>
            </div>
            <div class="footerBox thirdfb">
                <img src="/img/logo.svg" alt="" class="mb-4">
                <p>
                    011-33208264-6
                </p>
            </div>
        </div>
        <hr style="color: gray;">
        <div class="down-footer">
            <div class="footerrights">
                <span>
                    © 2021 devolutions Design. All rights reserved.
                </span>
            </div>
            <div class="social-container">
                <ul class="social-icons">
                    <li><a href="https://instagram.com/devolutions.ir"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                </ul>
            </div>
        </div>


    </footer>
    
</body>
</html>